{% extends 'admin/my_base_site.html' %}
{% load i18n admin_static %}
{% block extrastyle %}{{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/dashboard.css" %}"/>{% endblock %}
{% block coltype %}colMS{% endblock %}

{% block bodyclass %}{{ block.super }} dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
    <div id="content-main">
        {% if task_list %}
            {% for task in task_list %}
                <div class="app-{{ task.name }} module">
                    <table>
                        <caption>
                            <a href="/injection_test/{{ task.id }}/" class="section"
                               title="{% blocktrans with name=task.name %}Policies in the {{ name }} Task{% endblocktrans %}">{{ task.name }}</a>
                        </caption>
                        {% if task.policies %}
                            {% for policy in task.policies.all %}
                                <tr class="model-{{ policy.name|lower }}">
                                    {% if policy.admin_url %}
                                        <th scope="row"><a href="{{ policy.admin_url }}">{{ model.name }}</a></th>
                                    {% else %}
                                        <th scope="row">{{ policy.name }}</th>
                                    {% endif %}

                                    {% if target.add_url %}
                                        <td><a href="{{ policy.add_url }}" class="addlink">{% trans 'Add' %}</a></td>
                                    {% else %}
                                        <td>&nbsp;</td>
                                    {% endif %}

                                    {% if target.admin_url %}
                                        <td><a href="{{ policy.admin_url }}" class="changelink">{% trans 'Change' %}</a>
                                        </td>
                                    {% else %}
                                        <td>&nbsp;</td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                        {% else %}
                            <p>{% trans "No targets here." %}</p>
                        {% endif %}
                    </table>
                </div>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}

{% block sidebar %}
    <div id="content-related">
        <div class="module" id="recent-actions-module">
            <h2>{% trans 'Quick start in here.' %}</h2>
            <h3>{% trans 'Target Url' %}</h3>

            {% if not admin_log %}
                <p>{% trans 'None available' %}</p>
            {% else %}
                <ul class="actionlist">
                    <form name="input" action="{% url 'quick_scan' %}" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <input type="text" name="page_name"/>
                            <input type="submit" value="Submit"/>
                        </div>
                    </form>
                    <h4>{% trans 'Scan injection points in the page. Input URL, for example "http://www.jb51.net/article/57527.htm"' %}</h4>
                </ul>
            {% endif %}
        </div>
    </div>
{% endblock %}