{% extends 'admin/my_base_site.html' %}
{% load i18n admin_static %}
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'injection_test/css/style.css' %}"/>

{#<link rel="stylesheet" type="text/css" href="{% static 'admin/css/login.css' %}" />#}

{% block title %} Login {% endblock %}

{% comment %}
{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}
{% endcomment %}

{% block content %}

    <form class="form-horizontal">
        <fieldset>
            <legend><h1>What's the news?</h1></legend>
            <div class="control-group">
                <p>
                    昨天的 example.com 有了更新。
                </p>
            </div>
        </fieldset>
    </form>

{% endblock %}
{#{% block footer %}<div id="footer"></div>{% endblock %}#}

{# Read the documentation for more information #}